.App {
    text-align: center;
   /* Use flexbox to arrange text and image horizontally */
    align-items: center; /* Center items vertically within the container */
    justify-content: center; /* Center items horizontally within the container */
    
  }

.centered-image {
    max-width: 25%; /* Set the maximum width to 50% */
    max-height: 35%;
    margin-top: 100px;
    margin-left: 400px;
   

     /* Set the maximum height to 50% */
  }

.logo {
    position: absolute;
    top: 10px; /* Adjust the top value to move the logo down from the top */
    left: 10px; /* Adjust the left value to move the logo right from the left */
    width: 255px; /* Set the width of the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
}

.bigtext {
     /* Align the text to the left */
    /* Add right margin to create space between text and image */
    margin-top: 100;
    margin-bottom: 600;
    margin-left: 50px;
    
   
  }


  
  